{% extends "bootstrap/base.html" %} {% block navbar %}
<nav
  class="navbar navbar-expand-md navbar-custom"
  style="background-color : black; text-align: center"
>
  <div class="container-fluid-nav" style = "text-align:center"></div>
    <h1 style="color: white">Welcome to Space Trader!</h1>
  </div>
</nav>
{% endblock %} {% block content %}
<body>
  <form method="POST" style = "text-align: center">
    <!-- {{ form.input_field(placeholder="Provide some input") }} -->
    <div style = "margin-right: auto; margin-left: auto">
    {{ form.submit() }}
    </div>
  </form>
</body>
{% endblock %}
